/* сброс браузерных стилей и минимальные стандартные стили (это из шаблона) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* отсюда уже код собственного написания */
.page {
  display: flex;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result content-details";
  align-items: end;
  gap: 30px;
  width: 1140px;
  height: 534px;
  margin: auto;
}

.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
}

.result__video-container {
  width: 100%;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
  width: 100%;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.content__details {
  grid-area: content-details; 
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 534px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.title .content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  width: 100%;
  margin-top: 26px;
  overflow-y: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.content__video-card {
  display: flex;
  justify-content: start;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  -webkit-line-clamp: 3;
}
