/* сброс браузерных стилей и минимальные стандартные стили (это из шаблона) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* отсюда уже код собственного написания */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result content-details";
  align-items: end;
  gap: 30px;
  width: 1140px;
  height: 534px;
  margin: auto;
}

.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  border: 1px solid white;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
  width: 100%;
}

.search-form__fieldset {
  flex-grow: 1;
  border: 0;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  border: 0;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  height: 22px;
  appearance: none;
  border: 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  outline: none;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  opacity: 70%;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__label-text {
  margin-left: 5px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid white;
}

.search-form__pseudo-checkbox::after {
  content: '';
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
  height: 34px;
  padding: 6px 73.5px;
}

.content__details {
  grid-area: content-details; 
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 534px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.title .content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  height: 298px;
  width: 100%;
  margin-top: 26px;
  overflow-y: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
}

.content__card-link:focus {
  outline: 0;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
  outline-offset: -1px;
}

.content__video-card {
  display: flex;
  justify-content: start;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  -webkit-line-clamp: 3;
}

.more-button {
  width: 100%;
  margin-top: 30px;
  padding: 6px 143px;
}